// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

body {
  margin-bottom: 90px;
}

.center {
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

